.meal-card {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  border: rgb(0, 0, 0) solid 2px;
  padding: 1rem;
  width: auto;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #000000;
  background-color:lightblue;
  }

  .meal-pic {
    justify-self: center;
    height: 12rem;
    width: auto;
  }